#filedata-import {
	border: 3px dotted #0B85A1;
	height: 100px;
	width: 100%;
	color: #92AAB0;
}
#import-status-message-wrap {
	display: table;
	height: 45px;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	border: 1px solid white;
	border-radius: 5px
}
#import-status-message {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#import-btn  {
	display: block;
    width: 130px;
    margin: 10px auto 0px auto;
}
