#actual-profile {
	width: 130px
}
#control {
	text-align: right
}
/*
#export-icon {
	font-size: 35px
}
#import-icon {
	font-size: 35px
}
*/
#import-export-wrap {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px
}
#filedata {
	border: 3px dotted #0B85A1;
	height: 120px;
	color: #92AAB0;
}
#select-profile {
	width: 120px
}
#status-message-wrap {
	display: table;
	height: 45px;
	overflow: hidden;
	width: 350px;
	margin: 0 auto;
	border: 1px solid white;
	border-radius: 5px
}
#status-message {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#submit-btn-wrap {
	text-align: right;
	padding: 10px 0px 0px 0px;
	margin: 0px
}
#upload-icon {
	font-size: 60px
}

.absolute-center {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}
.always-visible {
	display: inline-block;
	margin: 0 auto
}

/* NON USO L'ANIMAZIONE AL MOMENTO */
.blinking-border {
    /*-webkit-transition: all 1s;*/
    -webkit-animation: DIV-BORDER 1s 1; /*nome,durata,ripetizioni*/
}
@-webkit-keyframes DIV-BORDER {
    0% { border-color: green }
    30% { border-color: white }
	100% { border-color: green }
}
/*-------------------------------*/

.btn-submit {
	background-color: #001DD6
}
.btn-control {
	background-color: #006FE6
}
.div-center {
	width: 350px;
	padding: 20px;
	margin: 0 auto;	
}
.icon {
	font-size: 25px;
	color: #006FE6
}
.icon-highlited {
	font-size: 25px;
	color: #24B2FF
}
.icon-green {
	font-size: 25px;
	color: #15E82E
}
.icon-not-clickable {
	pointer-events: none;
	font-size: 25px;
	color: #8E8F9C; /*grigio*/
}

* {
	font-family: 'Open Sans', sans-serif;
	font-size: small
}
img {
	display: block;
	margin: 0 auto
}
input[type=button] {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 4px;
	border: 0px solid;
	color: #ffffff;
	padding: 6px 16px 6px 16px;
	text-decoration: none
}
input[type=button]:hover {
	background-color: #24B2FF
}
input[type=button]:disabled {
	background-color: #63808F
}
input[type=file] {
	width: 250px
}
input[type=text] {
	width: 250px
}
input[type=password] {
	width: 250px
}
label {
	clear: left;
	float: left;
	width: 77px;
	text-align: right;
	padding-right: 10px
}​