#filedata {
	border: 3px dotted #0B85A1;
	height: 120px;
	color: #92AAB0;
	text-align: left;
	vertical-align: middle;
	padding: 10px 10px 10 10px;
	margin-bottom: 10px
}
#status {
	display: none;
	overflow: hidden
}
#status-bar {
	float: left
}
#status-message {
	float: right
}
#upload-form-wrapper {
	clear: both;
	display: inline-block;
	
	border-radius: 6px; 
	-moz-border-radius: 6px; 
	-webkit-border-radius: 6px; 
	border: 1px solid #0000ED;
	padding: 15px
}

.always-visible {
	display: inline-block;
	float: left;
	margin: 0; 
	text-align: center
}

label {
	clear: left;
	float: left;
	width: 80px;
	text-align: right;
	padding-right: 10px;    
}​

progress::-webkit-progress-bar, progress::-moz-progress-bar, progress::progress-bar {
  background-color: #0080FF;
  border-radius: 2px;
}
	